<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controllers.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/IndexController</url-pattern>
  </servlet-mapping>
  <display-name>SupportCenter</display-name>
  <welcome-file-list>
    <welcome-file>IndexController</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentRegisterController</display-name>
    <servlet-name>StudentRegisterController</servlet-name>
    <servlet-class>controllers.students.StudentRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegisterController</servlet-name>
    <url-pattern>/StudentRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherHome</display-name>
    <servlet-name>TeacherHome</servlet-name>
    <servlet-class>controllers.teacher.TeacherHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherHome</servlet-name>
    <url-pattern>/TeacherHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManager</display-name>
    <servlet-name>CenterManager</servlet-name>
    <servlet-class>controllers.centermanager.CenterManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManager</servlet-name>
    <url-pattern>/CenterManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerLogin</display-name>
    <servlet-name>CenterManagerLogin</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerLogin</servlet-name>
    <url-pattern>/CenterManagerLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CenterManagerAuth</display-name>
    <filter-name>CenterManagerAuth</filter-name>
    <filter-class>controllers.centermanager.CenterManagerAuth</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CenterManagerAuth</filter-name>
    <url-pattern>/CenterManagerAuth</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerNavigation</display-name>
    <servlet-name>CenterManagerNavigation</servlet-name>
    <servlet-class>controllers.centermanager.navigation.CenterManagerNavigation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerNavigation</servlet-name>
    <url-pattern>/CenterManagerNavigation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerAddTeacher</display-name>
    <servlet-name>CenterManagerAddTeacher</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerAddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerAddTeacher</servlet-name>
    <url-pattern>/CenterManagerAddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherNavigation</display-name>
    <servlet-name>TeacherNavigation</servlet-name>
    <servlet-class>controllers.teacher.navigation.TeacherNavigation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherNavigation</servlet-name>
    <url-pattern>/TeacherNavigation</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TeacherAuth</display-name>
    <filter-name>TeacherAuth</filter-name>
    <filter-class>controllers.teacher.TeacherAuth</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherAuth</filter-name>
    <url-pattern>/TeacherAuth</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLogin</display-name>
    <servlet-name>TeacherLogin</servlet-name>
    <servlet-class>controllers.teacher.TeacherLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLogin</servlet-name>
    <url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerAddClassRoom</display-name>
    <servlet-name>CenterManagerAddClassRoom</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerAddClassRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerAddClassRoom</servlet-name>
    <url-pattern>/CenterManagerAddClassRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerDeleteTeacher</display-name>
    <servlet-name>CenterManagerDeleteTeacher</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerDeleteTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerDeleteTeacher</servlet-name>
    <url-pattern>/CenterManagerDeleteTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerDeleteStudent</display-name>
    <servlet-name>CenterManagerDeleteStudent</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerDeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerDeleteStudent</servlet-name>
    <url-pattern>/CenterManagerDeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerGetTeacherData</display-name>
    <servlet-name>CenterManagerGetTeacherData</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerGetTeacherData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerGetTeacherData</servlet-name>
    <url-pattern>/CenterManagerGetTeacherData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerUpdateTeacher</display-name>
    <servlet-name>CenterManagerUpdateTeacher</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerUpdateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerUpdateTeacher</servlet-name>
    <url-pattern>/CenterManagerUpdateTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerGetRoomData</display-name>
    <servlet-name>CenterManagerGetRoomData</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerGetRoomData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerGetRoomData</servlet-name>
    <url-pattern>/CenterManagerGetRoomData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerUpdateRoom</display-name>
    <servlet-name>CenterManagerUpdateRoom</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerUpdateRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerUpdateRoom</servlet-name>
    <url-pattern>/CenterManagerUpdateRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerDeleteRoom</display-name>
    <servlet-name>CenterManagerDeleteRoom</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerDeleteRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerDeleteRoom</servlet-name>
    <url-pattern>/CenterManagerDeleteRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerAddCourse</display-name>
    <servlet-name>CenterManagerAddCourse</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerAddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerAddCourse</servlet-name>
    <url-pattern>/CenterManagerAddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerGetCourseData</display-name>
    <servlet-name>CenterManagerGetCourseData</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerGetCourseData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerGetCourseData</servlet-name>
    <url-pattern>/CenterManagerGetCourseData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerUpdateCourse</display-name>
    <servlet-name>CenterManagerUpdateCourse</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerUpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerUpdateCourse</servlet-name>
    <url-pattern>/CenterManagerUpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerDeleteCourse</display-name>
    <servlet-name>CenterManagerDeleteCourse</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerDeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerDeleteCourse</servlet-name>
    <url-pattern>/CenterManagerDeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerAddLevel</display-name>
    <servlet-name>CenterManagerAddLevel</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerAddLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerAddLevel</servlet-name>
    <url-pattern>/CenterManagerAddLevel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerDeleteLevel</display-name>
    <servlet-name>CenterManagerDeleteLevel</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerDeleteLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerDeleteLevel</servlet-name>
    <url-pattern>/CenterManagerDeleteLevel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerAddShedule</display-name>
    <servlet-name>CenterManagerAddShedule</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerAddShedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerAddShedule</servlet-name>
    <url-pattern>/CenterManagerAddShedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerGetSheduleData</display-name>
    <servlet-name>CenterManagerGetSheduleData</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerGetSheduleData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerGetSheduleData</servlet-name>
    <url-pattern>/CenterManagerGetSheduleData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerUpdateShedule</display-name>
    <servlet-name>CenterManagerUpdateShedule</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerUpdateShedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerUpdateShedule</servlet-name>
    <url-pattern>/CenterManagerUpdateShedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterManagerDeleteShedule</display-name>
    <servlet-name>CenterManagerDeleteShedule</servlet-name>
    <servlet-class>controllers.centermanager.CenterManagerDeleteShedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterManagerDeleteShedule</servlet-name>
    <url-pattern>/CenterManagerDeleteShedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginController</display-name>
    <servlet-name>StudentLoginController</servlet-name>
    <servlet-class>controllers.students.StudentLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginController</servlet-name>
    <url-pattern>/StudentLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentBuyCourse</display-name>
    <servlet-name>StudentBuyCourse</servlet-name>
    <servlet-class>controllers.students.StudentBuyCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentBuyCourse</servlet-name>
    <url-pattern>/StudentBuyCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCourseRegController</display-name>
    <servlet-name>StudentCourseRegController</servlet-name>
    <servlet-class>controllers.students.StudentCourseRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCourseRegController</servlet-name>
    <url-pattern>/StudentCourseRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCheckoutController</display-name>
    <servlet-name>StudentCheckoutController</servlet-name>
    <servlet-class>controllers.students.StudentCheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCheckoutController</servlet-name>
    <url-pattern>/StudentCheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentGetMyLearnings</display-name>
    <servlet-name>StudentGetMyLearnings</servlet-name>
    <servlet-class>controllers.students.StudentGetMyLearnings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentGetMyLearnings</servlet-name>
    <url-pattern>/StudentGetMyLearnings</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StudentAuth</display-name>
    <filter-name>StudentAuth</filter-name>
    <filter-class>controllers.students.StudentAuth</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentAuth</filter-name>
    <url-pattern>/StudentAuth</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MyLearnings</display-name>
    <servlet-name>MyLearnings</servlet-name>
    <servlet-class>controllers.students.MyLearnings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLearnings</servlet-name>
    <url-pattern>/MyLearnings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAddMaterials</display-name>
    <servlet-name>TeacherAddMaterials</servlet-name>
    <servlet-class>controllers.teacher.TeacherAddMaterials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAddMaterials</servlet-name>
    <url-pattern>/TeacherAddMaterials</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAddCourseMaterials</display-name>
    <servlet-name>TeacherAddCourseMaterials</servlet-name>
    <servlet-class>controllers.teacher.TeacherAddCourseMaterials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAddCourseMaterials</servlet-name>
    <url-pattern>/TeacherAddCourseMaterials</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewShedules</display-name>
    <servlet-name>ViewShedules</servlet-name>
    <servlet-class>controllers.students.ViewShedules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewShedules</servlet-name>
    <url-pattern>/ViewShedules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDownloadMaterials</display-name>
    <servlet-name>StudentDownloadMaterials</servlet-name>
    <servlet-class>services.students.StudentDownloadMaterials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDownloadMaterials</servlet-name>
    <url-pattern>/StudentDownloadMaterials</url-pattern>
  </servlet-mapping>
</web-app>